

# importing libraries

In [14]:
# for data analysis 

import pandas as pd
import numpy as np

import os

In [15]:
from os import listdir
from os.path import isfile, join

loc = os.path.abspath("")
data_loc = f"{loc}/data"

# check data loading time and memory usage

In [16]:
%%time 
test_tran = pd.read_parquet('test_transaction.parquet')

train_tran = pd.read_parquet('train_transaction.parquet')

test_id = pd.read_parquet('test_identity.parquet')


train_id = pd.read_parquet('train_identity.parquet')

CPU times: user 4.92 s, sys: 6.32 s, total: 11.2 s
Wall time: 2.55 s

In [18]:
test_tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506691 entries, 0 to 506690
Columns: 393 entries, TransactionID to V339
dtypes: float64(376), int64(3), object(14)
memory usage: 1.5+ GB

In [19]:
train_tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB

In [20]:
test_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  141907 non-null  int64
 1   id-01          141907 non-null  float64
 2   id-02          136976 non-null  float64
 3   id-03          66481 non-null   float64
 4   id-04          66481 non-null   float64
 5   id-05          134750 non-null  float64
 6   id-06          134750 non-null  float64
 7   id-07          5059 non-null    float64
 8   id-08          5059 non-null    float64
 9   id-09          74338 non-null   float64
 10  id-10          74338 non-null   float64
 11  id-11          136778 non-null  float64
 12  id-12          141907 non-null  object
 13  id-13          130286 non-null  float64
 14  id-14          71357 non-null   float64
 15  id-15          136977 non-null  object
 16  id-16          125747 non-null  object
 17  id-17          135966 non-null  float64
 18  id-18          50875 non-null   float64
 19  id-19          135906 non-null  float64
 20  id-20          135633 non-null  float64
 21  id-21          5059 non-null    float64
 22  id-22          5062 non-null    float64
 23  id-23          5062 non-null    object
 24  id-24          4740 non-null    float64
 25  id-25          5039 non-null    float64
 26  id-26          5047 non-null    float64
 27  id-27          5062 non-null    object
 28  id-28          136778 non-null  object
 29  id-29          136778 non-null  object
 30  id-30          70659 non-null   object
 31  id-31          136625 non-null  object
 32  id-32          70671 non-null   float64
 33  id-33          70671 non-null   object
 34  id-34          72175 non-null   object
 35  id-35          136977 non-null  object
 36  id-36          136977 non-null  object
 37  id-37          136977 non-null  object
 38  id-38          136977 non-null  object
 39  DeviceType     136931 non-null  object
 40  DeviceInfo     115057 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 44.4+ MB

In [21]:
train_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  144233 non-null  int64
 1   id_01          144233 non-null  float64
 2   id_02          140872 non-null  float64
 3   id_03          66324 non-null   float64
 4   id_04          66324 non-null   float64
 5   id_05          136865 non-null  float64
 6   id_06          136865 non-null  float64
 7   id_07          5155 non-null    float64
 8   id_08          5155 non-null    float64
 9   id_09          74926 non-null   float64
 10  id_10          74926 non-null   float64
 11  id_11          140978 non-null  float64
 12  id_12          144233 non-null  object
 13  id_13          127320 non-null  float64
 14  id_14          80044 non-null   float64
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_17          139369 non-null  float64
 18  id_18          45113 non-null   float64
 19  id_19          139318 non-null  float64
 20  id_20          139261 non-null  float64
 21  id_21          5159 non-null    float64
 22  id_22          5169 non-null    float64
 23  id_23          5169 non-null    object
 24  id_24          4747 non-null    float64
 25  id_25          5132 non-null    float64
 26  id_26          5163 non-null    float64
 27  id_27          5169 non-null    object
 28  id_28          140978 non-null  object
 29  id_29          140978 non-null  object
 30  id_30          77565 non-null   object
 31  id_31          140282 non-null  object
 32  id_32          77586 non-null   float64
 33  id_33          73289 non-null   object
 34  id_34          77805 non-null   object
 35  id_35          140985 non-null  object
 36  id_36          140985 non-null  object
 37  id_37          140985 non-null  object
 38  id_38          140985 non-null  object
 39  DeviceType     140810 non-null  object
 40  DeviceInfo     118666 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB

# the data is big in size, therefore i will use a function to reduce its memory for fast processing and consuming less storage.

In [22]:
def downcast_dtypes (df):
    _start = df.memory_usage(deep=True).sum() / 1024 ** 2
    float_cols = [c for c in df if df [c].dtype == "float64"]
    int_cols = [c for c in df if df [c].dtype in ["int64", "int32"]]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    _end = df.memory_usage(deep=True).sum() / 1024 ** 2
    saved = (_start - _end) / _start * 100
    print(f"saved {saved:.2f}%")
    return df

In [23]:
test_tran = downcast_dtypes(test_tran)
train_tran = downcast_dtypes(train_tran)
test_id = downcast_dtypes(test_id)
train_id = downcast_dtypes(train_id)

saved 41.10%
saved 41.45%
saved 8.86%
saved 8.79%

In [10]:
print(test_tran.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506691 entries, 0 to 506690
Columns: 393 entries, TransactionID to V339
dtypes: float32(376), int16(3), object(14)
memory usage: 783.8+ MB
None

In [11]:
print(train_tran.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float32(376), int16(4), object(14)
memory usage: 914.6+ MB
None

In [12]:
print(test_id.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  141907 non-null  int16
 1   id-01          141907 non-null  float32
 2   id-02          136976 non-null  float32
 3   id-03          66481 non-null   float32
 4   id-04          66481 non-null   float32
 5   id-05          134750 non-null  float32
 6   id-06          134750 non-null  float32
 7   id-07          5059 non-null    float32
 8   id-08          5059 non-null    float32
 9   id-09          74338 non-null   float32
 10  id-10          74338 non-null   float32
 11  id-11          136778 non-null  float32
 12  id-12          141907 non-null  object
 13  id-13          130286 non-null  float32
 14  id-14          71357 non-null   float32
 15  id-15          136977 non-null  object
 16  id-16          125747 non-null  object
 17  id-17          135966 non-null  float32
 18  id-18          50875 non-null   float32
 19  id-19          135906 non-null  float32
 20  id-20          135633 non-null  float32
 21  id-21          5059 non-null    float32
 22  id-22          5062 non-null    float32
 23  id-23          5062 non-null    object
 24  id-24          4740 non-null    float32
 25  id-25          5039 non-null    float32
 26  id-26          5047 non-null    float32
 27  id-27          5062 non-null    object
 28  id-28          136778 non-null  object
 29  id-29          136778 non-null  object
 30  id-30          70659 non-null   object
 31  id-31          136625 non-null  object
 32  id-32          70671 non-null   float32
 33  id-33          70671 non-null   object
 34  id-34          72175 non-null   object
 35  id-35          136977 non-null  object
 36  id-36          136977 non-null  object
 37  id-37          136977 non-null  object
 38  id-38          136977 non-null  object
 39  DeviceType     136931 non-null  object
 40  DeviceInfo     115057 non-null  object
dtypes: float32(23), int16(1), object(17)
memory usage: 31.1+ MB
None

In [13]:
print(train_id.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  144233 non-null  int16
 1   id_01          144233 non-null  float32
 2   id_02          140872 non-null  float32
 3   id_03          66324 non-null   float32
 4   id_04          66324 non-null   float32
 5   id_05          136865 non-null  float32
 6   id_06          136865 non-null  float32
 7   id_07          5155 non-null    float32
 8   id_08          5155 non-null    float32
 9   id_09          74926 non-null   float32
 10  id_10          74926 non-null   float32
 11  id_11          140978 non-null  float32
 12  id_12          144233 non-null  object
 13  id_13          127320 non-null  float32
 14  id_14          80044 non-null   float32
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_17          139369 non-null  float32
 18  id_18          45113 non-null   float32
 19  id_19          139318 non-null  float32
 20  id_20          139261 non-null  float32
 21  id_21          5159 non-null    float32
 22  id_22          5169 non-null    float32
 23  id_23          5169 non-null    object
 24  id_24          4747 non-null    float32
 25  id_25          5132 non-null    float32
 26  id_26          5163 non-null    float32
 27  id_27          5169 non-null    object
 28  id_28          140978 non-null  object
 29  id_29          140978 non-null  object
 30  id_30          77565 non-null   object
 31  id_31          140282 non-null  object
 32  id_32          77586 non-null   float32
 33  id_33          73289 non-null   object
 34  id_34          77805 non-null   object
 35  id_35          140985 non-null  object
 36  id_36          140985 non-null  object
 37  id_37          140985 non-null  object
 38  id_38          140985 non-null  object
 39  DeviceType     140810 non-null  object
 40  DeviceInfo     118666 non-null  object
dtypes: float32(23), int16(1), object(17)
memory usage: 31.6+ MB
None

# now i will merge both datasets for a better analysis

In [34]:
new_test = pd.merge(test_tran,test_id, on= "TransactionID",how="left")
new_train = pd.merge(train_tran,train_id,on= "TransactionID",how="left")

In [32]:
print(f"new_test shape: {new_test.shape}, new_train sahpe: {new_train.shape}")

new_test shape: (1137490, 433), new_train sahpe: (1342281, 434)

In [35]:
print(f'new_train : {new_train.shape[0]} rows & {new_train.shape[1]} columns')
print(f'new_test: {new_test.shape[0]} rows & {new_test.shape[1]} columns')

new_train : 1342281 rows & 434 columns
new_test: 1137490 rows & 433 columns